<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audiovisuales"
        tools:targetApi="31">
        <activity
            android:name=".appInside.reportes.ReportesMainActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.implementos.implementosMainActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.docentes.DocentesMainActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.CrearPrestamoActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.PrestamoActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.PrestamosMainActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.RegistroImplementoActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.RegistrarDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".appInside.primaryActivity"
            android:exported="false" />
        <activity
            android:name=".signUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>